<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-btn"><%= link_to "Check me out", "https://www.linkedin.com/in/harold-asai-0aa630123/", target: :_blank %></button>